lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp
coverage

# API keys
.env
secrets.js

# Dependency directory
node_modules
bower_components

# Builds
build

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db
