<% include header %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="text-muted pull-right">
      <%= entry.published %>
    </div>
    <a href="/guestbook/<%= entry.id %>"/>
      <%= entry.title %>
    </a>
  </div>
  <div class="panel-body">
    <%= entry.content %>
  </div>
</div>

<% include footer %>
