<% include _header %>
<h1>Log in</h1>
<form action="/auth/login" method="post">
<!--
  <input name="_csrf" value="<%= csrfToken %>" type="hidden">
-->  
  <input name="email" type="text" class="form-control" placeholder="Email" required autofocus>
  <input name="password" type="password" class="form-control" placeholder="Password" required>
  <input type="submit" value="Log in" class="btn btn-primary btn-block">
</form>
<% include _footer %>
