<% include _header %>
<% if ((currentUser) && (currentUser.id === user.id)) { %>
  <a href="/auth/edit" class="pull-right">Edit your profile</a>
  <% } %>
  <h1><%= user.name() %></h1>
  <h2>Joined on <%= user.createdAt %></h2>
  <p>Email:  <%= user.email %></p>
  <% if (user.bio) { %>
    <p>Bio:  <%= user.bio %></p>
  <% } %>
<% include _footer %>
